{% extends "head.html" %}

{% block title %}
	TVSatz - Zusammenfassung
{% endblock %}

{% block result %};
<div class="container">
    <div class="row header-nav">
        <div class="inner-block">
            <ul class="nav nav-pills fl-left">
                <li role="presentation"><a href="{{ root }}/Liste">Liste</a></li>
                <li role="presentation" class="active"><a href="">Erfassung</a></li>
                <li role="presentation"><a href="{{ root }}/Ausloggen" id="logoutButton">Ausloggen</a></li>
            </ul>
            {% if user == 1 %}
            <button type="button" class="btn btn-primary fl-right gear-btn"><i class="fa fa-cog"></i></button>
            {% endif %}
        </div>
    </div>
    <div class="row main">
        <div class="col-sm-12 inner-block">
            <div class="row">
                <div class="col-sm-12 col-md-9">
                    <div class="row">
                        <form class="col-sm-12 form-horizontal search-form">
                            {% block innerList %}
                                {% include 'innerList.html' %}
                            {% endblock %}
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="nav nav-tabs">
                              <li role="presentation" class="active"><a href="#">Zusammenfassung</a></li>
                              <li role="presentation"><a href="{% if dates.projectId %}../{% endif %}Vorstufe{% if dates.projectId %}/{{ dates.projectId }}{% endif %}">Vorstufe</a></li>
                              <li role="presentation"><a href="#">Drucksachen</a></li>
                              <li role="presentation"><a href="#">Fremdarbeiten</a></li>
                              <li role="presentation"><a href="#">Kalkulation</a></li>
                              <li role="presentation"><a href="#">Lieferschein</a></li>
                              <li role="presentation"><a href="#">Akte</a></li>
                            </ul> 
                        </div>                       
                    </div>                   
                </div>
                <div class="col-sm-12 col-md-3">
                    <form action="">
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-primary fl-right">Speichern</button>        
                            </div>
                        </div>                
                        <div class="row">
                            <div class="col-sm-12 processed-list">
                                <ul class="list-group">
                                    <li class="list-group-item active">
                                        Bearbeitet von:
                                    </li>   
                                    {% for employee in employees %}                  
                                    <li class="list-group-item">
                                        <div class="radio">
                                            <input id="<?php echo $employee['id']; ?>" class="employee" name="mitarbeiter" type="radio">
                                            <label for="mitarbeiter_1">
                                                {{ employee.name }}
                                            </label>
                                        </div> 
                                    </li>
                                   {% endfor %}                       
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
                {% include 'erfassung-zusammenfassung.html' %}
            </div>
        </div>
    </div>
</div><!-- /container -->
{% endblock %}

{% block otherScript %}
    <script src="{{ path }}assets/js/jquery-ui-1.11.4.js"></script>
{% endblock %}

{% block script %}
  <script src="{{ path }}assets/js/zusammenfassung.js"></script>
{% endblock %}