<div id="fremdarbeitenTable" style="display: none">
    <div class="row">
        <div class="col-sm-12 form-horizontal gray-form mrb-20">
	    <form class="col-sm-12 form-horizontal search-form" id="newProjectForm" action="NewProject" method="post">
                <div class="form-group mrt">
                    <div class="col-sm-6 form-inline">
                        <label for="termin_korrektur" class="control-label">Termin Korrektur</label>
                        <input type="text" name="termin_fremdarbeiten" id="termin_fremdarbeiten" class="form-control datepicker datePickerToUpdate" data-date-format="dd/mm/yyyy" size="9" {% if fremdarbeiten.1 %} value="{{ fremdarbeiten.1 }}" {% else %}    placeholder="Bitte wählen" {% endif %} >   
                    </div>
                    <div class="col-sm-6 form-inline">
                        <label for="termin_korrektur" class="control-label">Termin Daten</label>
                        <input type="text" name="termin_fremdarbeitenDaten" id="termin_fremdarbeitenDaten" class="form-control datepicker datePickerToUpdate" data-date-format="dd/mm/yyyy" size="9" {% if fremdarbeiten.2 %} value="{{ fremdarbeiten.2 }}" {% else %}    placeholder="Bitte wählen" {% endif %} >    
                    </div>
                </div>                                
                <div class="form-group">
                    <div class="set-height">
                        <table class="table table-condensed table-striped sm-font-table" id="tableFrendarbeiten">
                            <thead>
                                <tr>
                                    <th>Datum</th>
                                    <th>Lieferant<br>(Freitext)</th>
                                    <th>Beschreibung<br>(Beschreibung)</th>
                                    <th>EK<br>(Einkaufspreis)</th>
                                    <th>VK<br>(Verkaufspreis)</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for singleFremdarbeiten in fremdarbeiten.0 %}
                                <tr class="clickable-row rowsFremdarbeiten" name="{{ singleFremdarbeiten.id }}" id="{{ singleFremdarbeiten.id }}">
                                    <td id="{{ singleFremdarbeiten.id }}">
                                        <div class="fremdarbeitenToChange" id="textDate">{% if singleFremdarbeiten.textDate %}{{ singleFremdarbeiten.textDate }}{% else %}<i>keine Daten</i>{% endif %}</div>
                                        <div class="fremdarbeitenToUpdate" id="textDate" style="display: none;"><input type="text" class="form-control datepicker" size="9" placeholder="Bitte wählen" name="hiddenTextDate" value="{{ singleFremdarbeiten.textDate2 }}" /></div>
                                    </td>
                                    <td id="{{ singleFremdarbeiten.id }}">
                                        <div class="fremdarbeitenToChange" id="deliverer">{% if singleFremdarbeiten.deliverer %}{{ singleFremdarbeiten.deliverer }}{% else %}<i>keine Daten</i>{% endif %}</div>
                                        <div class="fremdarbeitenToUpdate" id="deliverer" style="display: none;"><input type="text" class="form-control" name="hiddenDeliverer" value="{% if singleFremdarbeiten.deliverer %}{{ singleFremdarbeiten.deliverer }}{% else %}{% endif %}" /></div>
                                    </td>
                                    <td id="{{ singleFremdarbeiten.id }}">
                                        <div class="fremdarbeitenToChange" id="description">{% if singleFremdarbeiten.description %}{{ singleFremdarbeiten.description }}{% else %}<i>keine Daten</i>{% endif %}</div>
                                        <div class="fremdarbeitenToUpdate" id="description" style="display: none;"><input type="text" class="form-control" name="hiddenDescription" value="{{ singleFremdarbeiten.description }}" /></div>
                                    </td>
                                    <td id="{{ singleFremdarbeiten.id }}">
                                        <div class="fremdarbeitenToChange" id="purchasePrice">{% if singleFremdarbeiten.purchasePrice %}{{ singleFremdarbeiten.purchasePrice }}{% else %}<i>0</i>{% endif %}</div>
                                        <div class="fremdarbeitenToUpdate" id="purchasePrice" style="display: none;"><input type="text" class="form-control" name="hiddenPurchasePrice" value="{{ singleFremdarbeiten.purchasePrice }}" /></div>
                                    </td>
                                    <td id="{{ singleFremdarbeiten.id }}">
                                        <div class="fremdarbeitenToChange" id="sellPrice">{% if singleFremdarbeiten.sellPrice %}{{ singleFremdarbeiten.sellPrice }}{% else %}<i>0</i>{% endif %}</div>
                                        <div class="fremdarbeitenToUpdate" id="sellPrice" style="display: none;"><input type="text" class="form-control" name="hiddenSellPrice" value="{{ singleFremdarbeiten.sellPrice }}" /></div>
                                    </td>
                                </tr>  
                                {% endfor %}
                                <tr class="clickable-row" id="hiddenTrFremdarbeiten" style="display: none;">
                                    <td>
                                        <div class="row form-group fremdClassDiv" id="hiddenDateErrorDiv">
                                            <input type="text" name="hiddenDateFremdarbeiten" id="hiddenDateFremdarbeiten" class="form-control datepicker" size="9" placeholder="Bitte wählen" value="">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row form-group">
                                            <input type="text" class="form-control" id="hiddenCarrier" name="hiddenCarrier" value="" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row form-group">
                                            <input type="text" class="form-control" id="hiddenDesc" name="hiddenDesc" value="" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row form-group fremdClassDiv" id="hiddenFirstAmountDiv">
                                            <div class="col-xs-2">
                                                <input type="text" class="form-control" id="hiddenFirstAmount" name="hiddenFirstAmount" placeholder="EURO" aria-describedby="inputError2Status" 
                                                style="margin-left: -16px; width: 100px; font-size: 11px;" value="" />
                                                <span id="hiddenFirstAmountSpan" aria-hidden="true"></span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row form-group fremdClassDiv" id="hiddenSecondAmountDiv">
                                            <div class="col-xs-2">
                                                <input type="text" class="form-control" id="hiddenSecondAmount" name="hiddenSecondAmount" placeholder="EURO" aria-describedby="inputError2Status" 
                                                style="margin-left: -16px; width: 100px; font-size: 11px;" value="" />
                                                <span id="hiddenSecondAmountSpan" aria-hidden="true"></span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>                                              
                            </tbody>
                        </table>                       
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-8 form-inline">
                        <button type="button" class="btn btn-primary mrr-8" id="newButtonFremdarbeiten" >Neu</button>
                        <button type="button" class="btn btn-primary mrr-8" id="saveButtonFremdarbeiten" style="display: none; margin-left: -8px;" >Speichern</button> 
                        <button type="button" class="btn btn-primary mrr-8" id="hideButtonFremdarbeiten" style="display: none; margin-left:-8px;" >Verstecken</button>                                        
                        <button type="button" class="btn btn-primary deleteButtonFremdarbeiten" id="" style="margin-left:-8px;" disabled >Löschen</button>       
                        <div class="checkbox buttons-line">
                            <input id="showIndPrice<>{{ dates.projectId }}" name="intPriceShow2" type="checkbox" {% if drucksachen.2 == 1 %} checked="checked" {% endif %}>
                            <label for="bemerkung_an">
                                Einzelpreise nicht auf RE
                            </label>
                        </div>  
                    </div>
                    <div class="col-sm-4 v-right">
                        <h4>Fremdkosten <b class="total-price" id="totalFremdarbeiten">{{ dates.amountFremdarbeiten }} EURO</b></h4>
                    </div>                                    
                </div>
                <div class="form-group mrt">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12 form-inline">
                                <label class="control-label" style="margin-top: 5px;">Bemerkung</label>
                                <div class="checkbox">
                                    <input class="descCheckbox" id="desc4_an" name="desc4_an" type="checkbox" {% if dates.bemerkung.forthAn == 0 %}{% else %} checked="checked" {% endif %}>
                                    <label for="bemerkung_an">
                                        AN
                                    </label>
                                </div> 
                                <div class="checkbox">
                                    <input class="descCheckbox" id="desc4_au" name="desc4_au" type="checkbox" {% if dates.bemerkung.forthAu == 0 %}{% else %} checked="checked" {% endif %}>
                                    <label for="bemerkung_au">
                                        AU
                                    </label>
                                </div>  
                                <div class="checkbox">
                                    <input class="descCheckbox" id="desc4_pm" name="desc4_pm" type="checkbox" {% if dates.bemerkung.forthPm == 0 %}{% else %} checked="checked" {% endif %}>
                                    <label for="bemerkung_pm">
                                        PM
                                    </label>
                                </div> 
                                <div class="checkbox">
                                    <input class="descCheckbox" id="desc4_li" name="desc4_li" type="checkbox" {% if dates.bemerkung.forthLi == 0 %}{% else %} checked="checked" {% endif %}>
                                    <label for="bemerkung_li">
                                        LI
                                    </label>
                                </div>  
                                <div class="checkbox">
                                    <input class="descCheckbox" id="desc4_re" name="desc4_re" type="checkbox" {% if dates.bemerkung.forthRe == 0 %}{% else %} checked="checked" {% endif %}>
                                    <label for="bemerkung_re">
                                        RE
                                    </label>
                                </div>                                                     
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <textarea class="form-control mrt-10 descTextarea" id="desc4" rows="6" placeholder="Vorstufe - Bemerkungen welche der Kunde auf Angebot und Rechnung sieht">{% if dates.bemerkung.forth %}{{ dates.bemerkung.forth }}{% endif %}</textarea>
                            </div>
                        </div>                                            
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label" for="bemerkungen" style="margin-top: 3px;">Bemerkungen (Intern)</label>
                        <textarea class="form-control mrt-10 descIntern" id="desc8" rows="6" placeholder="Freitext für interne Bemerkungen">{% if dates.bemerkung.fifth %}{{ dates.bemerkung.fifth }}{% endif %}</textarea>
                    </div>                           
                </div> 
            </form>
        </div>                       
    </div>
</div> 