<div id="akteTable" style="display: none">
	<div class="row">
		<div class="col-sm-12 form-horizontal gray-form mrb-20">
			<form action="">
				<div class="form-group mrt">
					<div class="set-height">
						<table id="list-sortable" class="table table-striped table-bordered" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th>Vorgang</th>
									<th>Datum</th>
									<th>Bezeichnung</th>
									<th>Benutzer</th>
									<th>PDF</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Lieferschein</td>
									<td>03.01.2016 16:45</td>
									<td>Freitext aus Druckprozess</td>
									<td>Mitarbeiter 4</td>
									<td>anzeigen</td>
								</tr>         
								<tr>
									<td>Lieferschein</td>
									<td>03.01.2016 16:45</td>
									<td>Freitext aus Druckprozess</td>
									<td>Mitarbeiter 4</td>
									<td>anzeigen</td>
								</tr>    
								<tr>
									<td>Lieferschein</td>
									<td>03.01.2016 16:45</td>
									<td>Freitext aus Druckprozess</td>
									<td>Mitarbeiter 4</td>
									<td>anzeigen</td>
								</tr>    
								<tr>
									<td>Lieferschein</td>
									<td>03.01.2016 16:45</td>
									<td>Freitext aus Druckprozess</td>
									<td>Mitarbeiter 4</td>
									<td>anzeigen</td>
								</tr>    
								<tr>
									<td>Lieferschein</td>
									<td>03.01.2016 16:45</td>
									<td>Freitext aus Druckprozess</td>
									<td>Mitarbeiter 4</td>
									<td>anzeigen</td>
								</tr>    
								<tr>
									<td>Lieferschein</td>
									<td>03.01.2016 16:45</td>
									<td>Freitext aus Druckprozess</td>
									<td>Mitarbeiter 4</td>
									<td>anzeigen</td>
								</tr>    
								<tr>
									<td>Lieferschein</td>
									<td>03.01.2016 16:45</td>
									<td>Freitext aus Druckprozess</td>
									<td>Mitarbeiter 4</td>
									<td>anzeigen</td>
								</tr>    
								<tr>
									<td>Lieferschein</td>
									<td>03.01.2016 16:45</td>
									<td>Freitext aus Druckprozess</td>
									<td>Mitarbeiter 4</td>
									<td>anzeigen</td>
								</tr>    
								<tr>
									<td>Lieferschein</td>
									<td>03.01.2016 16:45</td>
									<td>Freitext aus Druckprozess</td>
									<td>Mitarbeiter 4</td>
									<td>anzeigen</td>
								</tr>    
								<tr>
									<td>Lieferschein</td>
									<td>03.01.2016 16:45</td>
									<td>Freitext aus Druckprozess</td>
									<td>Mitarbeiter 4</td>
									<td>anzeigen</td>
								</tr>    
								<tr>
									<td>Lieferschein</td>
									<td>03.01.2016 16:45</td>
									<td>Freitext aus Druckprozess</td>
									<td>Mitarbeiter 4</td>
									<td>anzeigen</td>
								</tr>   
								<tr>
									<td>Lieferschein</td>
									<td>03.01.2016 16:45</td>
									<td>Freitext aus Druckprozess</td>
									<td>Mitarbeiter 4</td>
									<td>anzeigen</td>
								</tr>         
								<tr>
									<td>Lieferschein</td>
									<td>03.01.2016 16:45</td>
									<td>Freitext aus Druckprozess</td>
									<td>Mitarbeiter 4</td>
									<td>anzeigen</td>
								</tr>    
								<tr>
									<td>Lieferschein</td>
									<td>03.01.2016 16:45</td>
									<td>Freitext aus Druckprozess</td>
									<td>Mitarbeiter 4</td>
									<td>anzeigen</td>
								</tr>    
								<tr>
									<td>Lieferschein</td>
									<td>03.01.2016 16:45</td>
									<td>Freitext aus Druckprozess</td>
									<td>Mitarbeiter 4</td>
									<td>anzeigen</td>
								</tr>    
								<tr>
									<td>Lieferschein</td>
									<td>03.01.2016 16:45</td>
									<td>Freitext aus Druckprozess</td>
									<td>Mitarbeiter 4</td>
									<td>anzeigen</td>
								</tr>    
								<tr>
									<td>Lieferschein</td>
									<td>03.01.2016 16:45</td>
									<td>Freitext aus Druckprozess</td>
									<td>Mitarbeiter 4</td>
									<td>anzeigen</td>
								</tr>    
								<tr>
									<td>Lieferschein</td>
									<td>03.01.2016 16:45</td>
									<td>Freitext aus Druckprozess</td>
									<td>Mitarbeiter 4</td>
									<td>anzeigen</td>
								</tr>    
								<tr>
									<td>Lieferschein</td>
									<td>03.01.2016 16:45</td>
									<td>Freitext aus Druckprozess</td>
									<td>Mitarbeiter 4</td>
									<td>anzeigen</td>
								</tr>    
								<tr>
									<td>Lieferschein</td>
									<td>03.01.2016 16:45</td>
									<td>Freitext aus Druckprozess</td>
									<td>Mitarbeiter 4</td>
									<td>anzeigen</td>
								</tr>    
								<tr>
									<td>Lieferschein</td>
									<td>03.01.2016 16:45</td>
									<td>Freitext aus Druckprozess</td>
									<td>Mitarbeiter 4</td>
									<td>anzeigen</td>
								</tr>    
								<tr>
									<td>Lieferschein</td>
									<td>03.01.2016 16:45</td>
									<td>Freitext aus Druckprozess</td>
									<td>Mitarbeiter 4</td>
									<td>anzeigen</td>
								</tr>                                                 
							</tbody>
						</table>   
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<button type="button" class="btn btn-primary">Löschen</button>  
					</div>
				</div>
			</form>
		</div>                       
	</div> 
</div>