<div id="kalkulationTable" style="display: none">
	<div class="row">
		<div class="col-sm-12 form-horizontal gray-form mrb-20">
			<form action="">
				<div class="form-group mrt">
					<div class="col-sm-4 calculation-margin-top">
						<div class="row mer-10">
							<div class="col-sm-12">
								<div class="checkbox">
									<input id="bogenmontage" name="bogenmontage" type="checkbox">
									<label for="bogenmontage">
										Bogenmontage
									</label>
								</div>                      
							</div>
						</div>
						<div class="row mer-10">
							<div class="col-sm-12">
								<div class="checkbox">
									<input id="plattenkopierkosten" name="plattenkopierkosten" type="checkbox">
									<label for="plattenkopierkosten">
										Plattenkopierkosten
									</label>
								</div>                      
							</div>
						</div>     
						<div class="row mer-10">
							<div class="col-sm-12">
								<div class="checkbox">
									<input id="papier" name="papier" type="checkbox">
									<label for="papier">
										Papier
									</label>
								</div>                      
							</div>
						</div> 
						<div class="row mer-10">
							<div class="col-sm-12">
								<div class="checkbox">
									<input id="einrichten" name="einrichten" type="checkbox">
									<label for="einrichten">
										Einrichten
									</label>
								</div>                      
							</div>
						</div> 
						<div class="row mer-10">
							<div class="col-sm-12">
								<div class="checkbox">
									<input id="einrichten_numer_perf" name="einrichten_numer_perf" type="checkbox">
									<label for="einrichten_numer_perf">
										Einrichten Numer./perf
									</label>
								</div>                      
							</div>
						</div> 
						<div class="row mer-10">
							<div class="col-sm-12">
								<div class="checkbox">
									<input id="fortdruck" name="fortdruck" type="checkbox">
									<label for="fortdruck">
										Fortdruck
									</label>
								</div>                      
							</div>
						</div> 
						<div class="row mer-10">
							<div class="col-sm-12">
								<div class="checkbox">
									<input id="farbwechsel" name="farbwechsel" type="checkbox">
									<label for="farbwechsel">
										Farbwechsel
									</label>
								</div>                      
							</div>
						</div> 
						<div class="row mer-10">
							<div class="col-sm-12">
								<div class="checkbox">
									<input id="farbmischen" name="farbmischen" type="checkbox">
									<label for="farbmischen">
										Farbmischen
									</label>
								</div>                      
							</div>
						</div> 
						<div class="row mer-10">
							<div class="col-sm-12">
								<div class="checkbox">
									<input id="kopieren" name="kopieren" type="checkbox">
									<label for="kopieren">
										Kopieren
									</label>
								</div>                      
							</div>
						</div> 
						<div class="row mer-10">
							<div class="col-sm-12">
								<div class="checkbox">
									<input id="zu_beschneiden" name="zu_beschneiden" type="checkbox">
									<label for="zu_beschneiden">
										Zu-/Beschneiden
									</label>
								</div>                      
							</div>
						</div> 
						<div class="row mer-10">
							<div class="col-sm-12">
								<div class="checkbox">
									<input id="falzen" name="falzen" type="checkbox">
									<label for="falzen">
										Falzen
									</label>
								</div>                      
							</div>
						</div> 
						<div class="row mer-10">
							<div class="col-sm-12">
								<div class="checkbox">
									<input id="zusammentr" name="zusammentr" type="checkbox">
									<label for="zusammentr">
										Zusammentr. (Hand/M)
									</label>
								</div>                      
							</div>
						</div> 
						<div class="row mer-10">
							<div class="col-sm-12">
								<div class="checkbox">
									<input id="bohren" name="bohren" type="checkbox">
									<label for="bohren">
										Bohren
									</label>
								</div>                      
							</div>
						</div> 
						<div class="row mer-10">
							<div class="col-sm-12">
								<div class="checkbox">
									<input id="leimen" name="leimen" type="checkbox">
									<label for="leimen">
										Leimen
									</label>
								</div>                      
							</div>
						</div> 
						<div class="row mer-10">
							<div class="col-sm-12">
								<div class="checkbox">
									<input id="heften" name="heften" type="checkbox">
									<label for="heften">
										Heften
									</label>
								</div>                      
							</div>
						</div> 
						<div class="row mer-10">
							<div class="col-sm-12">
								<div class="checkbox">
									<input id="falzeln" name="falzeln" type="checkbox">
									<label for="falzeln">
										Fälzeln
									</label>
								</div>                      
							</div>
						</div> 
						<div class="row mer-10">
							<div class="col-sm-12">
								<div class="checkbox">
									<input id="rollen_stanzen" name="rollen_stanzen" type="checkbox">
									<label for="rollen_stanzen">
										Rollen/Stanzen
									</label>
								</div>                      
							</div>
						</div> 
						<div class="row mer-10">
							<div class="col-sm-12">
								<div class="checkbox">
									<input id="verpacken" name="verpacken" type="checkbox">
									<label for="verpacken">
										Verpacken
									</label>
								</div>                      
							</div>
						</div>                                         
					</div>
					<div class="col-sm-2">
						<div class="row">
							<div class="col-sm-12">
								<label class="control-label">Auflage</label>
								<input type="text" name="termin_daten" class="form-control" value="freitext">   
							</div>
						</div>
						<div class="row mrt-10">
							<div class="set-height-calculation">
								<table class="table table-striped table-hover sm-font-table">
									<thead>
										<tr>
											<th>Zeit</th>
											<th>EURO</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>        
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>      
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>  
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>        
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>      
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr> 
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>                                                     
									</tbody>
								</table>                       
							</div>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="row">
							<div class="col-sm-12">
								<label class="control-label">Auflage</label>
								<input type="text" name="termin_daten" class="form-control" value="freitext">   
							</div> 
						</div>
						<div class="row mrt-10">
							<div class="set-height-calculation">
								<table class="table table-striped table-hover sm-font-table">
									<thead>
										<tr>
											<th>Zeit</th>
											<th>EURO</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>        
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>      
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>  
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>        
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>      
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr> 
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>                                                     
									</tbody>
								</table>                       
							</div>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="row">
							<div class="col-sm-12">
								<label class="control-label">Auflage</label>
								<input type="text" name="termin_daten" class="form-control" value="freitext">   
							</div>
						</div>
						<div class="row mrt-10">
							<div class="set-height-calculation">
								<table class="table table-striped table-hover sm-font-table">
									<thead>
										<tr>
											<th>Zeit</th>
											<th>EURO</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>        
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>      
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>  
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>        
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>      
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr> 
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>                                                     
									</tbody>
								</table>                       
							</div>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="row">
							<div class="col-sm-12">
								<label class="control-label">Auflage</label>
								<input type="text" name="termin_daten" class="form-control" value="freitext">   
							</div>
						</div>
						<div class="row mrt-10">
							<div class="set-height-calculation">
								<table class="table table-striped table-hover sm-font-table">
									<thead>
										<tr>
											<th>Zeit</th>
											<th>EURO</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>        
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>      
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>  
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>        
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>      
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>       
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr> 
										<tr>
											<td>8</td>
											<td>40 EURO</td>
										</tr>                                                     
									</tbody>
								</table>                       
							</div>
						</div>
					</div>                                    
				</div>   
				<div class="form-group">
					<div class="col-sm-4">                                      
						<div class="row">
							<div class="col-sm-12 v-right">
								<h4>Kosten der Auflage</h4>
							</div>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="row">
							<div class="col-sm-12 v-right">
								<h4>70 EURO</h4>
							</div>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="row">
							<div class="col-sm-12 v-right">
								<h4>40 EURO</h4>
							</div>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="row">
							<div class="col-sm-12 v-right">
								<h4>240 EURO</h4>
							</div>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="row">
							<div class="col-sm-12 v-right">
								<h4></h4>
							</div>
						</div>
					</div>                                    
				</div>                                
			</form>
		</div>                       
	</div>  
</div>