<div id="drucksachenTable" style="display: none">
    <div class="row">
        <div class="col-sm-12 form-horizontal gray-form mrb-20">
	      <form class="col-sm-12 form-horizontal search-form" id="newProjectForm" action="NewProject" method="post">
                <div class="form-group mrt">
                    <div class="col-sm-6 form-inline">
                        <label for="termin_korrektur" class="control-label">Termin Andruck</label>
                        <input type="text" name="printTime" id="printTime" class="form-control datepicker datePickerToUpdate" data-date-format="dd/mm/yyyy" size="9" {% if drucksachen.1 %} value="{{ drucksachen.1 }}" {% else %}    placeholder="Bitte wählen" {% endif %} >   
                    </div>
                </div>
                <div class="form-group">
                    <div class="set-height">
                        <table class="table table-striped sm-font-table" id="drucksacheTable">
                            <thead>
                                <tr>
                                    <th>Drucksache</th>
                                    <th style="text-align: center;">Maschine</th>
                                    <th>Art</th>
                                    <th>Auflage</th>
                                    <th>Format</th>
                                    <th>Umfang</th>
                                    <th>Farbe</th>
                                    <th>Papier</th>
                                    <th>Verarbeitung</th>
                                    <th>erledigt</th>
                                    <th>Betrag</th>
                                </tr>
                            </thead>
                            <tbody id="tableBody">
                                {% for singleDrucksachen in drucksachen.0 %}
                                    <tr class="clickable-row rowsDrucksachen" name="{{ singleDrucksachen.id }}" id="{{ singleDrucksachen.id }}" >
                                        <td id="{{ singleDrucksachen.id }}">
                                           <div class="drucksacheToChange" id="print">{% if singleDrucksachen.print %}{{ singleDrucksachen.print }}{% else %}<i>Keine Daten</i>{% endif %}</div>
                                           <div class="drucksacheToUpdate" id="print" style="display: none;"><input type="text" class="form-control" name="hiddenPrint" value="{{ singleDrucksachen.print }}" /></div>
                                       </td>
                                       <td class="col-sm-2 col-md-2" id="{{ singleDrucksachen.id }}" style="text-align: center;">
                                            <div class="drucksacheToChange" id="machine">{% if singleDrucksachen.machineName %}{{ singleDrucksachen.machineName }}{% else %}<i>Keine Daten</i>{% endif %}</div>
                                            <select  class="form-control drucksacheToUpdate" id="machine" name="hiddenMachine" style="display: none;">
                                                <option id="{{ singleDrucksachen.machine }}">{{ singleDrucksachen.machineName }}</option>
                                                {% for singleMachine in machine %}
						    {% if singleDrucksachen.machineName == singleMachine.name %}
						    {% else %}
                        				<option id="{{ singleMachine.id }}">{{ singleMachine.name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td id="{{ singleDrucksachen.id }}">
                                            <div class="drucksacheToChange" id="type">{% if singleDrucksachen.type %}{{ singleDrucksachen.type }}{% else %}<i>Keine Daten</i>{% endif %}</div>
                                            <div class="drucksacheToUpdate" id="type" style="display: none;"><input type="text" class="form-control" name="hiddenType" value="{{ singleDrucksachen.type }}" /></div>
                                        </td>
                                        <td id="{{ singleDrucksachen.id }}">
                                            <div class="drucksacheToChange" id="edition">{% if singleDrucksachen.edition %}{{ singleDrucksachen.edition }}{% else %}<i>0</i>{% endif %}</div>
                                            <div class="drucksacheToUpdate" id="edition" style="display: none;"><input type="text" class="form-control" name="hiddenEdition" value="{{ singleDrucksachen.edition }}" /></div>
                                         </td>
                                         <td id="{{ singleDrucksachen.id }}">
                                             <div class="drucksacheToChange" id="format">{% if singleDrucksachen.format %}{{ singleDrucksachen.format }}{% else %}<i>Keine Daten</i>{% endif %}</div>
                                             <div class="drucksacheToUpdate" id="format" style="display: none;"><input type="text" class="form-control" name="hiddenFormat" value="{{ singleDrucksachen.format }}" /></div>
                                         </td>
                                         <td id="{{ singleDrucksachen.id }}">
                                             <div class="drucksacheToChange" id="size">{% if singleDrucksachen.size %}{{ singleDrucksachen.size }}{% else %}<i>Keine Daten</i>{% endif %}</div>
                                             <div class="drucksacheToUpdate" id="size" style="display: none;"><input type="text" class="form-control" name="hiddenSize" value="{{ singleDrucksachen.size }}" /></div>
                                         </td>
                                         <td id="{{ singleDrucksachen.id }}">
                                             <div class="drucksacheToChange" id="color">{% if singleDrucksachen.color %}{{ singleDrucksachen.color }}{% else %}<i>Keine Daten</i>{% endif %}</div>
                                             <div class="drucksacheToUpdate" id="color" style="display: none;"><input type="text" class="form-control" name="hiddenColor" value="{{ singleDrucksachen.color }}" /></div>
                                         </td>
                                         <td id="{{ singleDrucksachen.id }}">
                                             <div class="drucksacheToChange" id="paper">{% if singleDrucksachen.paper %}{{ singleDrucksachen.paper }}{% else %}<i>Keine Daten</i>{% endif %}</div>
                                             <div class="drucksacheToUpdate" id="paper" style="display: none;"><input type="text" class="form-control" name="hiddenPaper" value="{{ singleDrucksachen.paper }}" /></div>
                                         </td>
                                         <td id="{{ singleDrucksachen.id }}">
                                             <div class="drucksacheToChange" id="remodelling">{% if singleDrucksachen.remodelling %}{{ singleDrucksachen.remodelling }}{% else %}<i>Keine Daten</i>{% endif %}</div>
                                             <div class="drucksacheToUpdate" id="remodelling" style="display: none;"><input type="text" class="form-control" name="hiddenRemodelling" value="{{ singleDrucksachen.remodelling }}" /></div>
                                         </td>
                                         <td class="v-center" id="{{ singleDrucksachen.id }}">
                                            <div class="checkbox">
                                                <input name="drucksachenFinished" id="finished" type="checkbox" {% if singleDrucksachen.finished == 1 %} checked="checked" {% endif %} >
                                                <label></label>
                                            </div>  
                                        </td>
                                        <td id="{{ singleDrucksachen.id }}">
                                            <div class="drucksacheToChange" id="amount">{% if singleDrucksachen.amount %}{{ singleDrucksachen.amount }}{% else %}<i>0</i>{% endif %} EURO</div>
                                            <div class="drucksacheToUpdate" id="amount" style="display: none;"><input type="text" class="form-control" name="hiddenAmount" value="{{ singleDrucksachen.amount }}" /></div>
                                        </td>
                                    </tr>
                                {% endfor %} 
                                <tr id="hiddenTrDrucksachen" style="display: none">
                                    <td>
                                        <div class="row form-group">
                                            <input type="text" class="form-control" id="hiddenDrucksachenPrint" name="hiddenDrucksachenPrint" /></td>
                                        </div>
                                    <td>
                                        <div class="row form-group druckClassDiv" id="drucksacheMachineDiv">
					                        <select name="hiddenDrucksachenMachine" class="form-control" id="hiddenDrucksachenMachine">
                                                <option value="none" id="none">Bitte wählen</option>
                                                {% for singleMachine in machine %}
                                                <option value="{{ singleMachine.id }}" id="{{ singleMachine.id }}">{{ singleMachine.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row form-group">
                                            <input type="text" class="form-control" id="hiddenDrucksachenType" name="hiddenDrucksachenType" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row form-group druckClassDiv" id="drucksacheFirstAmountDiv">
                                            <input type="text" class="form-control" id="hiddenDrucksachenEdition" name="hiddenDrucksachenEdition" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row form-group">
                                            <input type="text" class="form-control" id="hiddenDrucksachenFormat" name="hiddenDrucksachenFormat" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row form-group">
                                            <input type="text" class="form-control" id="hiddenDrucksachenSize" name="hiddenDrucksachenSize" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row form-group">
                                            <input type="text" class="form-control" id="hiddenDrucksachenColor" name="hiddenDrucksachenColor" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row form-group">
                                            <input type="text" class="form-control" id="hiddenDrucksachenPaper" name="hiddenDrucksachenPaper" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row form-group">
                                            <input type="text" class="form-control" id="hiddenDrucksachenRemodelling" name="hiddenDrucksachenRemodelling" /></td>
                                        </div>
                                    <td>
                                        <div class="row form-group">
                                            <input name="hiddenDrucksachenFinished" type="checkbox" id="hiddenDrucksachenFinished" style="margin-left: 10px;">
                                            <label></label>
                                        </div> 
                                    </td>
                                    <td>
                                        <div class="row form-group druckClassDiv" id="drucksacheSecondAmountDiv">
                                            <input type="text" class="form-control" id="hiddenDrucksachenAmount" name="hiddenDrucksachenAmount" placeholder="EURO" style="width: 65px;"/>
                                        </div>
                                    </td>
                                </tr> 
                            </tbody>
                        </table>                       
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8 form-inline">
                        <button type="button" class="btn btn-primary mrr-8" id="newDrucksache" >Neu</button>
                        <button type="button" class="btn btn-primary mrr-8" id="saveButtonDrucksache" style="display: none;" >Speichern</button>
                        <button type="button" class="btn btn-primary mrr-8" id="hideButtonDrucksache" style="display: none;" >Verstecken</button>                                          
                        <button type="button" class="btn btn-primary deleteButtonDrucksachen" id="deleteButtonDrucksachen" style="margin-left:-8px;" disabled >Löschen</button>         
                        <button type="button" class="btn btn-primary mrr-8 cloneDruckButton" id="" disabled >Duplizieren</button> 
                        <div class="checkbox buttons-line">
                            <input id="showIndPrice<>{{ dates.projectId }}" name="intPriceShow1" type="checkbox" {% if drucksachen.2 == 1 %} checked="checked" {% endif %}>
                            <label for="bemerkung_an">
                                Einzelpreise nicht auf RE
                            </label>
                        </div> 
                    </div>
                    <div class="col-sm-4 v-right">
                        <h4>Druckkosten <b class="total-price" id="totalDrucksache">{% if dates.amountDrucksachen %}{{ dates.amountDrucksachen }}{% endif %} EURO</b></4>
                    </div>                                    
                </div>
                <div class="form-group mrt">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12 form-inline">
                                <label class="control-label">Bemerkung</label>
                                <div class="checkbox">
                                    <input class="descCheckbox" id="desc3_an" name="desc3_an" type="checkbox" {% if dates.bemerkung.thirdAn == 0 %}{% else %} checked="checked" {% endif %}>
                                    <label for="desc3_an">
                                        AN
                                    </label>
                                </div> 
                                <div class="checkbox">
                                    <input class="descCheckbox" id="desc3_au" name="desc3_au" type="checkbox" {% if dates.bemerkung.thirdAu == 0 %}{% else %} checked="checked" {% endif %}>
                                    <label for="desc3_au">
                                        AU
                                    </label>
                                </div>  
                                <div class="checkbox">
                                    <input class="descCheckbox" id="desc3_pm" name="desc3_pm" type="checkbox" {% if dates.bemerkung.thirdPm == 0 %}{% else %} checked="checked" {% endif %}>
                                        PM
                                    </label>
                                </div> 
                                <div class="checkbox">
                                    <input class="descCheckbox" id="desc3_li" name="desc3_li" type="checkbox" {% if dates.bemerkung.thirdLi == 0 %}{% else %} checked="checked" {% endif %}>
                                    <label for="desc3_li">
                                        LI
                                    </label>
                                </div>  
                                <div class="checkbox">
                                    <input class="descCheckbox" id="desc3_re" name="desc3_re" type="checkbox" {% if dates.bemerkung.thirdRe == 0 %}{% else %} checked="checked" {% endif %}>
                                    <label for="desc3_re">
                                        RE
                                    </label>
                                </div>                                                     
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <textarea class="form-control mrt-10 descTextarea" id="desc3" rows="6" placeholder="Vorstufe - Bemerkungen welche der Kunde auf Angebot und Rechnung sieht">{% if dates.bemerkung.third %}{{ dates.bemerkung.third }}{% endif %}</textarea>
                            </div>
                        </div>                                            
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label" for="bemerkungen">Bemerkungen (Intern)</label>
                        <textarea class="form-control mrt-10 descIntern" id="desc7" rows="6" placeholder="Freitext für interne Bemerkungen">{% if dates.bemerkung.fifth %}{{ dates.bemerkung.fifth }}{% endif %}</textarea>
                    </div>                           
                </div>                                 
	   </form>
        </div>                       
    </div>
</div>
