<div id="akteTable" style="display: none">
	<div class="row">
		<div class="col-sm-12 form-horizontal gray-form mrb-20">
			<form action="">
				<div class="form-group mrt">
					<div class="set-height">
						<table id="list-sortable" class="table table-striped table-bordered" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th>Vorgang</th>
									<th>Datum</th>
									<th>Bezeichnung</th>
									<th>Benutzer</th>
									<th>PDF</th>
								</tr>
							</thead>
						    {% if documentList != null %}
						      <tbody id="akteTbody">
							{% for singleDocument in documentList %} 
								    <tr name="{{ singleDocument.id }}" class="documentList" id="{{ singleDocument.id }}">
									<td>{{ singleDocument.fileName }}</td>
									<td>{{ singleDocument.regDate }}</td>
									<td>{{ singleDocument.description }}</td>
									<td>{{ singleDocument.userName }}</td>
									<td><a href="{{ root }}/akte/{{ singleDocument.file }}" target="_blank">anzeigen</a></td>
								</tr> 
							{% endfor %} 
						      </tbody>
						      {% else %}
							  <tbody>
							      <tr>
								  <td></td>
								  <td></td>
								  <td style="text-align: center;">Keine Dokumente verfügbar</th>
								  <td></td>
								  <td></td>
							      </tr>
							  </tbody>
						      {% endif %}
						</table>   
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<button type="button" class="btn btn-primary documentDelete" id="" disabled="disabled">Löschen</button>  
						<button type="button" class="btn btn-primary" id="documentRestore" >Auffrischen</button>
					</div>
				</div>
			</form>
		</div>                       
	</div> 
</div>