<div id="vorstufeTable" style="display: none"> 
    <div class="row">
        <div class="col-sm-12 form-horizontal gray-form mrb-20">
            <form action="">
                <div class="form-group mrt">
                    <div class="col-sm-4 ">
                        <label for="termin_korrektur" class="control-label">Termin Korrektur</label>
                        <input type="text" name="amendmentTime" id="amendmentTime-{{ dates.projectId }}" class="form-control datepicker" data-date-format="dd/mm/yyyy" size="9" {% if vorstufe.1 %} value="{{ vorstufe.1 }}" {% else %}    placeholder="Bitte wählen" {% endif %} >   
                    </div>
                    <div class="col-sm-4">
                        <label for="termin_daten" class="control-label">Termin Daten</label>
                        <input type="text" name="dateTime" id="dateTime-{{ dates.projectId }}" class="form-control datepicker" data-date-format="dd/mm/yyyy" size="9" {% if vorstufe.2 %} value="{{ vorstufe.2 }}" {% else %} placeholder="Bitte wählen" {% endif %} >
                    </div>
                    <div class="col-sm-4">
                        <label for="termin_proof_andruck" class="control-label">Termin Proof / Andruck</label>
                        <input type="text" name="proofTime" id="proofTime-{{ dates.projectId }}" class="form-control datepicker" data-date-format="dd/mm/yyyy" size="9" {% if vorstufe.3 %} value="{{ vorstufe.3 }}" {% else %} placeholder="Bitte wählen" {% endif %} > 
                    </div>
                </div>
                <div class="form-group">
                    <div class="set-height">
                        <table class="table table-striped sm-font-table">
                            <thead>
                                <tr>
                                    <th>Art</th>
                                    <th>erledigt</th>
                                    <th>Mitarbeiter</th>
                                    <th>Tätigkeit<br>(Beschreibung)</th>
                                    <th>Zeit Angebot<br>(in Zeiteinheiten)</th>
                                    <th>Zeit tatsächlich<br>(in Zeiteinheiten)</th>
                                    <th>Zeit verrechenbar<br>(in Zeiteinheiten)</th>
                                    <th>Betrag</th>
                                    <th>verrechenbar</th>
                                </tr>
                            </thead>
                            <tbody id="tableRow">
                                {% for singleVorstufe in vorstufe.0 %}
                                <tr class="rows" id="{{ singleVorstufe.id }}">
                                    <td class="trToDelete">{{ singleVorstufe.typeName }}</td>
                                    <td class="trToDelete">{{ singleVorstufe.performanceTime }}</td>
                                    <td class="trToDelete" id="{{ singleVorstufe.employeeId }}" >{{ singleVorstufe.employeeName }}</td>
                                    <td class="trToDelete">{{ singleVorstufe.description }}</td>
                                    <td class="trToDelete">{{ singleVorstufe.timeProposal }}</td>
                                    <td class="trToDelete">{{ singleVorstufe.timeReal }}</td>
                                    <td class="trToDelete">{{ singleVorstufe.timeSettlement }}</td>
                                    <td class="trToDelete">{{ singleVorstufe.amount }} EUR</td>
                                    <td class="v-center">
                                        <div class="checkbox">
                                            <input name="settlement" type="checkbox">
                                            <label></label>
                                        </div>  
                                    </td>
                                </tr>
                                {% endfor %}
                                <tr id="hiddenTr" style="display: none;">
                                    <td>
                                        <select name="typeSelect" id="typeSelect">
                                            <option id="none" >Bitte wählen</option>
                                            {% for singleArt in art %}
                                            <option id="{{ singleArt.id }}">{{ singleArt.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td><input type="text" name="hiddenDate" id="hiddenDate" class="form-control datepicker" size="9" placeholder="Datum" value=""></td>
                                    <td>
                                        <select name="employeesSelect" id="employeesSelect">
                                            <option id="none" >Bitte wählen</option>
                                            {% for employee in employees %}
                                            <option>{{ employee.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td><input type="text" class="form-control" id="hiddenDescription" name="hiddenDescription" /></td>
                                    <td><input type="text" class="form-control" id="hiddenTimeProposal" name="hiddenTimeProposal" /></td>
                                    <td><input type="text" class="form-control" id="hiddenTimeReal" name="hiddenTimeReal" /></td>
                                    <td><input type="text" class="form-control" id="hiddenTimeSettlement" name="hiddenTimeSettlement" /></td>
                                    <td><input type="text" class="form-control" id="hiddenAmount" name="hiddenAmount" placeholder="EURO"/></td>
                                    <td>
                                        <div class="checkbox" style="margin-left: 22px;">
                                            <input name="settlement" type="checkbox">
                                            <label></label>
                                        </div>
                                    </td>
                                </tr>   
                            </tbody>
                        </table>                       
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-primary mrr-8" id="newButton" >Neu</button>
                        <button type="button" class="btn btn-primary mrr-8" id="hideButton" style="display: none;" >Verstecken</button>                                          
                        <button type="button" class="btn btn-primary deleteButton" id="" style="margin-left:-8px;" disabled >Löschen</button>
                    </div>
                    <div class="col-sm-6 v-right">
                        <h4>Kosten Vorstufe: <b class="total-price">{{ dates.amountVorstufe }} EURO</b></h4>
                    </div>                                    
                </div>

                <div class="form-group mrt">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12 form-inline">
                                <label class="control-label">Bemerk. auf</label>
                                <div class="checkbox">
                                    <input id="bemerkung_an" name="bemerkung_an" type="checkbox">
                                    <label for="bemerkung_an">
                                        AN
                                    </label>
                                </div> 
                                <div class="checkbox">
                                    <input id="bemerkung_au" name="bemerkung_au" type="checkbox">
                                    <label for="bemerkung_au">
                                        AU
                                    </label>
                                </div>  
                                <div class="checkbox">
                                    <input id="bemerkung_pm" name="bemerkung_pm" type="checkbox">
                                    <label for="bemerkung_pm">
                                        PM
                                    </label>
                                </div> 
                                <div class="checkbox">
                                    <input id="bemerkung_li" name="bemerkung_li" type="checkbox">
                                    <label for="bemerkung_li">
                                        LI
                                    </label>
                                </div>  
                                <div class="checkbox">
                                    <input id="bemerkung_re" name="bemerkung_re" type="checkbox">
                                    <label for="bemerkung_re">
                                        RE
                                    </label>
                                </div>                                                     
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <textarea class="form-control mrt-10" rows="6" placeholder="Vorstufe - Bemerkungen welche der Kunde auf Angebot und Rechnung sieht"></textarea>
                            </div>
                        </div>                                            
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label" for="bemerkungen">Bemerkungen (Intern)</label>
                        <textarea class="form-control mrt-10" id="bemerkungen" rows="6" placeholder="Freitext für interne Bemerkungen"></textarea>
                    </div>                           
                </div>                                 
            </form>
        </div>                       
    </div>             
</div>