{% extends "head.html" %}

{% block title %}
    TVSatz - Zusammenfassung
{% endblock %}

{% block result %};
<div class="container">
    {% block topList %}
        {% include 'topList.html' %}
    {% endblock %}
    <div class="row main">
        <div class="col-sm-12 inner-block">
            <div class="row">
                <div class="col-sm-12 col-md-9">
                    <div class="row">
                        <form class="col-sm-12 form-horizontal search-form" id="newProjectForm" action="NewProject" method="post">
                            {% block innerList %}
                                {% include 'innerList.html' %}
                            {% endblock %}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="nav nav-tabs">
                                <li role="presentation" class="active liTable" id="zusammenfassungId"><a href="#" id="zusammenfassungHref">Zusammenfassung</a></li>
                                <li role="presentation" class="liTable" id="vorstufeId">
                                {% if dates.projectId %}
                                <a href="#" id="vorstufeHref">Vorstufe</a></li>
                                {% else %}
                                <a href="#" class="notAvailable">Vorstufe</a></li>
                                {% endif %}
                                <li role="presentation" class="liTable" id="drucksachenId">
                                {% if dates.projectId %}
                                <a href="#" id="drucksachenHref">Drucksachen</a></li>
                                {% else %}
                                <a href="#" class="notAvailable">Drucksachen</a></li>
                                {% endif %}
                                <li role="presentation" class="liTable" id="fremdarbeitenId">
                                {% if dates.projectId %}
                                <a href="#" id="fremdarbeitenHref">Fremdarbeiten</a></li>
                                {% else %}
                                <a href="#" class="notAvailable">Fremdarbeiten</a></li>
                                {% endif %}
                                <li role="presentation" class="liTable" id="kalkulationId" >
                                {% if dates.projectId %}
                                {% if user == 1 %}
                                <a href="#"  id="kalkulationHref" >Kalkulation</a>
                                {% else %}
                                <a href="#"  class="notAvailable">Kalkulation</a>
                                {% endif %}</li>
                                {% else %}
                                <a href="#"  class="notAvailable">Kalkulation</a>
                                {% endif %}
                                <li role="presentation" class="liTable" id="lieferscheinId">
                                {% if dates.projectId %}
                                <a href="#" id="lieferscheinHref">Lieferschein</a></li>
                                {% else %}
                                <a href="#" class="notAvailable">Lieferschein</a></li>
                                {% endif %}
                                <li role="presentation" class="liTable" id="akteId">
                                {% if dates.projectId %}
                                <a href="#" id="akteHref">Akte</a></li>
                                {% else %}
                                <a href="#" class="notAvailable">Akte</a></li>
                                {% endif %}
                            </ul>  
                        </div>                       
                    </div>
                    {% include 'erfassung-zusammenfassung.html' %}
                    {% include 'erfassung-vorstufe.html' %}
                    {% include 'erfassung-drucksachen.html' %}
                    {% include 'erfassung-fremdsachen.html' %}
                    {% include 'erfassung-kalkulation.html' %}
                    {% include 'erfassung-lieferschein.html' %}
                    {% include 'erfassung-akte.html' %}
                </div>
                <div class="col-sm-12 col-md-3">
                        <div class="row">
                            <div class="col-sm-12">
				{% if dates.projectId %}
				    <br>
				    <br>
				{% else %}
				    <button type="button" class="btn btn-primary fl-right" id="saveProjectButton">Speichern</button> 
				{% endif %}
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-sm-12 processed-list">
                                <ul class="list-group">
                                    <li class="list-group-item active">
                                        Bearbeitet von:
                                    </li>   
                                    {% for employee in employees %}                  
                                        <li class="list-group-item">
                                            <div class="checkbox">
                                                <input id="{{ employee.id }}" name="mitarbeiter" type="checkbox" {% if employee.checked == 1 %} checked="checked" {% endif %} >
                                                <label for="mitarbeiter">
                                                    {{ employee.name }}
                                                </label>
                                            </div> 
                                        </li>
                                    {% endfor %}                        
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div><!-- /container -->
{% include 'popup.html' %}


{% endblock %}

{% block otherScript %}
<script src="{{ path }}assets/js/jquery-ui-1.11.4.js"></script>
<script>

$( document ).ready(function() {

    $( "#zusammenfassungHref" ).click(function($e) {
    $e.preventDefault();
        $( '.liTable' ).removeClass( 'active' );
        $( '#vorstufeTable' ).hide();
        $( '#drucksachenTable' ).hide();
        $( '#fremdarbeitenTable' ).hide();
        $( '#kalkulationTable' ).hide();
        $( '#lieferscheinTable' ).hide();
        $( '#akteTable' ).hide();
        $( '#zusammenfassungTable' ).show();
        $( '#zusammenfassungId' ).addClass( 'active' );
    });

    $( "#vorstufeHref" ).click(function($e) {
    $e.preventDefault();
        $( '.liTable' ).removeClass( 'active' );
        $( '#zusammenfassungTable' ).hide();
        $( '#drucksachenTable' ).hide();
        $( '#fremdarbeitenTable' ).hide();
        $( '#kalkulationTable' ).hide();
        $( '#lieferscheinTable' ).hide();
        $( '#akteTable' ).hide();
        $( '#vorstufeTable' ).show();
        $( '#vorstufeId' ).addClass( 'active' );
    });

    $( "#drucksachenHref" ).click(function($e) {
    $e.preventDefault();
        $( '.liTable' ).removeClass( 'active' );
        $( '#zusammenfassungTable' ).hide();
        $( '#vorstufeTable' ).hide();
        $( '#fremdarbeitenTable' ).hide();
        $( '#kalkulationTable' ).hide();
        $( '#lieferscheinTable' ).hide();
        $( '#akteTable' ).hide();
        $( '#drucksachenTable' ).show();
        $( '#drucksachenId' ).addClass( 'active' );
    });

    $( "#fremdarbeitenHref" ).click(function($e) {
    $e.preventDefault();
        $( '.liTable' ).removeClass( 'active' );
        $( '#zusammenfassungTable' ).hide();
        $( '#vorstufeTable' ).hide();
        $( '#drucksachenTable' ).hide();
        $( '#kalkulationTable' ).hide();
        $( '#lieferscheinTable' ).hide();
        $( '#akteTable' ).hide();
        $( '#fremdarbeitenTable' ).show();
        $( '#fremdarbeitenId' ).addClass( 'active' );
    });
    
    $( "#kalkulationHref" ).click(function($e) {
    $e.preventDefault();
        $( '.liTable' ).removeClass( 'active' );
        $( '#zusammenfassungTable' ).hide();
        $( '#vorstufeTable' ).hide();
        $( '#drucksachenTable' ).hide();
        $( '#fremdarbeitenTable' ).hide();
        $( '#lieferscheinTable' ).hide();
        $( '#akteTable' ).hide();
        $( '#kalkulationTable' ).show();
        $( '#kalkulationId' ).addClass( 'active' );
    });
    
    $( "#kalkulationNotAllowed" ).mouseover(function() {
        $(this).css('cursor', 'not-allowed');
    });
    
    $( "#kalkulationNotAllowed" ).click(function($e) {
        $e.preventDefault();
    });
    
    $( "#lieferscheinHref" ).click(function($e) {
    $e.preventDefault();
        $( '.liTable' ).removeClass( 'active' );
        $( '#zusammenfassungTable' ).hide();
        $( '#vorstufeTable' ).hide();
        $( '#drucksachenTable' ).hide();
        $( '#fremdarbeitenTable' ).hide();
        $( '#kalkulationTable' ).hide();
        $( '#akteTable' ).hide();
        $( '#lieferscheinTable' ).show();
        $( '#lieferscheinId' ).addClass( 'active' );
    });
    
    $( "#akteHref" ).click(function($e) {
    $e.preventDefault();
        $( '.liTable' ).removeClass( 'active' );
        $( '#zusammenfassungTable' ).hide();
        $( '#vorstufeTable' ).hide();
        $( '#drucksachenTable' ).hide();
        $( '#fremdarbeitenTable' ).hide();
        $( '#kalkulationTable' ).hide();
        $( '#lieferscheinTable' ).hide();
        $( '#akteTable' ).show();
        $( '#akteId' ).addClass( 'active' );
    });
});

</script>
{% endblock %}


{% block script %}
  <script src="{{ path }}assets/js/zusammenfassung.js"></script>
  <script src="{{ path }}assets/js/vorstufe.js"></script>
  <script src="{{ path }}assets/js/drucksachen.js"></script>
  <script src="{{ path }}assets/js/fremdarbeiten.js"></script>
  <script src="{{ path }}assets/js/popup.js"></script>
{% endblock %}
