RewriteEngine On

RewriteRule ^$ /CRM/index.php?action=liste [L]
RewriteRule ^Ausloggen$ /CRM/index.php?action=logout [L]
RewriteRule ^Liste$ /CRM/index.php?action=projectSearch [L]
RewriteRule ^Erfassung$ /CRM/index.php?action=erfassung [L]
RewriteRule ^Erfassung/(.*)$ /CRM/index.php?action=erfassung&single=$1 [L]
AddType text/css css

<IfModule mod_php5.c>
php_value memory_limit 128M
</IfModule>