{% extends "head.html" %}

{% block title %}
	TVSatz - Zusammenfassung
{% endblock %}

{% block result %};
	<div class="container">
    <div class="row header-nav">
        <div class="inner-block">
            <ul class="nav nav-pills fl-left">
                <li role="presentation"><a href="{{ root }}/Liste">Liste</a></li>
                <li role="presentation" class="active"><a href="">Erfassung</a></li>
                <li role="presentation"><a href="{{ root }}/Ausloggen" id="logoutButton">Ausloggen</a></li>
            </ul>
            {% if user == 1 %}
            <button type="button" class="btn btn-primary fl-right gear-btn"><i class="fa fa-cog"></i></button>
            {% endif %}
        </div>
    </div>
    <div class="row main">
        <div class="col-sm-12 inner-block">
            <div class="row">
                <div class="col-sm-12 col-md-9">
                    <div class="row">
                        <form class="col-sm-12 form-horizontal search-form">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="status" class="col-sm-2 control-label">Mandant</label>
                                        <div class="col-sm-6 form-inline">
                                            {% for singleMandant in mandant %}
                                            <div class="radio">
                                                <input id="tvs" value="{{ singleMandant }}" name="mandant" type="radio" {% if dates %} 
                                                {% if singleMandant == dates.mandantSelect %} checked="checked" {% endif %} {% endif %} >
                                                <label for="tvs">
                                                    {{ singleMandant }}
                                                </label>
                                            </div> 
                                            {% endfor %}                                        
                                        </div>    
                                        <div class="col-sm-4">
                                            <button type="button" class="btn btn-primary fl-right">Kopieren</button>                                             
                                            <button type="button" class="btn btn-primary fl-right mrr-8">Neu</button>         
                                        </div>
                                    </div> 
                                    <div class="form-group">
                                        <label for="status" class="col-sm-2 control-label">Status:</label>
                                        <div class="col-sm-6 form-inline">
                                            <select name="" id="status" class="form-control selectpicker">
                                                <option value="Angebotsphase">Angebotsphase</option>
                                                <option value="Absage">Absage</option>
                                                <option value="Produktion">Produktion</option>
                                                <option value="Fertiggestellt">Fertiggestellt</option>
                                                <option value="abgerechnet">abgerechnet</option>
                                            </select>                                         
                                        </div> 
                                    </div>
                                    <div class="form-group">
                                        <label for="status" class="col-sm-2"></label>
                                        <div class="col-sm-6">
                                            <div class="row gray-font">
                                                <div class="col-sm-6">Vorgangsnummer</div>
                                                <div class="col-sm-6">{% if dates %}{{ dates.vorgangsnummer }}{% else %}Keine Daten{% endif %}</div>
                                            </div>
                                            <div class="row gray-font">
                                                <div class="col-sm-12 mrt-10">Rechnungsnummer</div>
                                            </div>
                                        </div> 
                                        <div class="col-sm-4">
                                            <div class="row gray-font">
                                                <div class="col-sm-6 v-left">Erstellt:</div>
                                                <div class="col-sm-6 v-right">{% if dates %}{{ dates.regDate }}{% else %}Keine Daten{% endif %}</div>
                                            </div>
                                            <div class="row mrt-10 gray-font">
                                                <div class="col-sm-6 v-left">Änderung:</div>
                                                <div class="col-sm-6 v-right">{% if dates %}{{ dates.changeDate }}{% else %}Keine Daten{% endif %}</div>
                                            </div>
                                            <div class="row mrt-10">
                                                <div class="col-sm-6 v-left">Liefertermin:</div>
                                                <div class="col-sm-6 v-right">--Keine Ahnung--</div>
                                            </div>                                            
                                        </div>                                        
                                    </div>  
                                    <div class="form-group">
                                        <label for="status" class="col-sm-2 control-label">Projektname</label>
                                        <div class="col-sm-6 mrb-20">
                                            <input type="text" name="projektname" id="projektname" class="form-control" placeholder="Geben Sie die Projektname ein" value="{% if dates %}{{ dates.name }}{% endif %}">                                        
                                        </div>    
                                        <div class="col-sm-4">
                                            <button type="button" class="btn btn-success fl-right btn-print"><i class="fa fa-print"></i></button>
                                        </div>
                                    </div>                                     
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="nav nav-tabs">
                              <li role="presentation" class="active"><a href="#">Zusammenfassung</a></li>
                              <li role="presentation"><a href="#">Vorstufe</a></li>
                              <li role="presentation"><a href="#">Drucksachen</a></li>
                              <li role="presentation"><a href="#">Fremdarbeiten</a></li>
                              <li role="presentation"><a href="#">Kalkulation</a></li>
                              <li role="presentation"><a href="#">Lieferschein</a></li>
                              <li role="presentation"><a href="#">Akte</a></li>
                            </ul> 
                        </div>                       
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-horizontal gray-form mrb-20">
                            <form action="">
                                <div class="form-group mrt">
                                    <label for="auftraggeber" class="col-sm-3 control-label">Auftraggeber</label>
                                    <div class="col-sm-6">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-search"></i></div>                                            
                                            <input type="text" name="auftraggeber" id="auftraggeberId" class="form-control" placeholder="Suchen Sie einen Auftraggeber aus" value="{% if customer %}{{ customer.name }}{% endif %}" />
                                        </div>
                                    </div>    
                                    <div class="col-sm-3">
                                        <button type="button" class="btn btn-primary fl-right">Kopieren</button>                                             
                                        <button type="button" class="btn btn-primary fl-right mrr-8">Neu</button>
                                    </div>                                        
                                </div>
                                <div class="form-group">
                                    <label for="auftraggeber" class="col-sm-3 control-label">Ansprechpartner</label>
                                    <div class="col-sm-6">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-search"></i></div>                                            
                                            <input type="text" name="ansprechpartner" id="ansprechpartnerId" class="form-control" placeholder="Suchen Sie einen Ansprechpartner aus" value="{% if seller %}{{ seller.name }} {{ seller.vorname }}{% endif %}" />
                                        </div>
                                    </div>                                      
                                </div>  
                                <div class="form-group">
                                    <label for="auftraggeber" class="col-sm-3 control-label">Rechnungsadresse</label>
                                    <div class="col-sm-6">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-search"></i></div>                                            
                                            <input type="text" name="rechnungsadresse" id="rechnungsadresse" class="form-control" placeholder="Suchen Sie eine Rechnungsadresse aus" value="{% if address %}{{ address.name }} - {{ address.abteilung }}{% endif %}">
                                        </div>
                                    </div>                                      
                                </div>   
                                <div class="form-group">
                                    <label for="auftraggeber" class="col-sm-3 control-label">Kundenauftragsnummer</label>
                                    <div class="col-sm-6">                                        
                                        <input type="text" name="kundenauftragsnummer" id="kundenauftragsnummer" class="form-control" placeholder="" value="{% if dates %}{{ dates.kundenNummer }}{% endif %}">
                                    </div>                                      
                                </div>        
                                <div class="form-group">
                                    <label for="auftraggeber" class="col-sm-3 control-label">Zahlungsziel</label>
                                    <div class="col-sm-3 gray-font">                                        
                                        <span class="form-inline-text" id="zahlungsziel" >{% if customer %}{{ customer.zahlungsziel.name }}{%else%}zum Ergänzen{% endif %}</span>
                                    </div> 
                                    <div class="col-sm-3 gray-font">                                        
                                        <div class="checkbox">
                                            <input id="invidivuell_1" name="invidivuell_1" type="checkbox">
                                            <label for="invidivuell_1">
                                                invidivuell
                                            </label>
                                        </div> 
                                    </div> 
                                    <div class="col-sm-3"> 
                                        <select name="paymentOpt" id="paymentOpt" class="form-control selectpicker" {% if customer %} disabled="disabled" {% endif %}>
                                            <option value="{% if customer %}{{ customer.zahlungsziel.id }}{% endif %}">{% if customer %}{{ customer.zahlungsziel.name }}{% else %}Bitte wählen{% endif %}</option>
					    {% for single in paymentOpt %}
					      {% if single.name != customer.zahlungsziel.name %}
                                            <option value="{{ single.id }}">{{ single.name }}</option>
					      {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>                                   
                                </div>     
                                <div class="form-group">
                                    <label for="auftraggeber" class="col-sm-3 control-label">Skonto</label>
                                    <div class="col-sm-3 gray-font">                                        
                                        <span class="form-inline-text">{% if customer %}{{ customer.skonto }}{% else %}zum Ergänzen{% endif %}</span>
                                    </div> 
                                    <div class="col-sm-3 gray-font">                                        
                                        <div class="checkbox">
                                            <input id="invidivuell_2" name="invidivuell_2" type="checkbox">
                                            <label for="invidivuell_2">
                                                invidivuell
                                            </label>
                                        </div> 
                                    </div> 
                                    <div class="col-sm-3 form-inline"> 
                                        <input type="text" name="skonto" id="skonto" class="form-control" placeholder="Prozent" value="{% if customer %}{{ customer.skonto }}{% endif %}" size="3" {% if customer %} disabled="disabled" {% endif %} >
                                    </div>                                   
                                </div> 
                                <div class="form-group">
                                    <label for="muster" class="col-sm-3 control-label">Muster in Tasche</label>
                                    <div class="col-sm-6 form-inline">                                   
                                        <input type="text" name="" id="muster" class="form-control" placeholder="" value="{% if patterns %}{{ patterns.pattern }}{% endif %}" size="3" style="text-align: center;">
                                    </div>                                      
                                </div>
                                <div class="form-group">
                                    <label for="stuck" class="col-sm-3 control-label">Stück Muster an</label>
                                    <div class="col-sm-9">                                   
                                        <input type="text" name="" id="stuck" class="form-control" placeholder="" value="{% if patterns %}{{ patterns.patternTo }}{% endif %}">
                                    </div>                                      
                                </div>     
                                <div class="form-group">
                                    <label for="stuck" class="col-sm-3 control-label">Lieferung per</label>
                                    <div class="col-sm-9 form-inline">  
					{% for singleCarrier in carrierList %}
                                        <div class="radio">
                                            <input id="lieferung" name="lieferung" type="radio" value="{{ singleCarrier.id}}" {% if carrier %}{% if singleCarrier.id == carrier.id %} 
                                           checked="checked" {% endif %}{% endif %} >
                                            <label for="lieferung_tv">
                                                {% if singleCarrier %}{{ singleCarrier.name }}{% endif %}
                                            </label>
                                        </div> 
                                        {% endfor %}                               
                                    </div>                                      
                                </div>  
                                <div class="form-group mrt">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-12 form-inline">
                                                <label class="control-label">Bemerk. auf</label>
                                                <div class="checkbox">
                                                    <input id="bemerkung_an" name="bemerkung_an" type="checkbox">
                                                    <label for="bemerkung_an">
                                                        AN
                                                    </label>
                                                </div> 
                                                <div class="checkbox">
                                                    <input id="bemerkung_au" name="bemerkung_au" type="checkbox">
                                                    <label for="bemerkung_au">
                                                        AU
                                                    </label>
                                                </div>  
                                                <div class="checkbox">
                                                    <input id="bemerkung_pm" name="bemerkung_pm" type="checkbox">
                                                    <label for="bemerkung_pm">
                                                        PM
                                                    </label>
                                                </div> 
                                                <div class="checkbox">
                                                    <input id="bemerkung_li" name="bemerkung_li" type="checkbox">
                                                    <label for="bemerkung_li">
                                                        LI
                                                    </label>
                                                </div>  
                                                <div class="checkbox">
                                                    <input id="bemerkung_re" name="bemerkung_re" type="checkbox">
                                                    <label for="bemerkung_re">
                                                        RE
                                                    </label>
                                                </div>                                                     
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <textarea class="form-control mrt-10" rows="6" placeholder="Vorstufe - Bemerkungen welche der Kunde auf Angebot und Rechnung sieht"></textarea>
                                            </div>
                                        </div>                                            
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="control-label" for="bemerkungen">Bemerkungen (Intern)</label>
                                        <textarea class="form-control mrt-10" id="bemerkungen" rows="6" placeholder="Freitext für interne Bemerkungen"></textarea>
                                    </div>                           
                                </div>                                 
                            </form>
                        </div>                       
                    </div>                    
                </div>
                <div class="col-sm-12 col-md-3">
                    <form action="">
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-primary fl-right">Speichern</button>        
                            </div>
                        </div>                
                        <div class="row">
                            <div class="col-sm-12 processed-list">
                                <ul class="list-group">
                                    <li class="list-group-item active">
                                        Bearbeitet von:
                                    </li>   
                                    {% for employee in employees %}                  
                                    <li class="list-group-item">
                                        <div class="radio">
                                            <input id="<?php echo $employee['id']; ?>" class="employee" name="mitarbeiter" type="radio">
                                            <label for="mitarbeiter_1">
                                                {{ employee.name }}
                                            </label>
                                        </div> 
                                    </li>
                                   {% endfor %}                       
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div><!-- /container -->
{% endblock %}

{% block otherScript %}
    <script src="{{ path }}assets/js/jquery-ui-1.11.4.js"></script>
{% endblock %}

{% block script %}
  <script src="{{ path }}assets/js/zusammenfassung.js"></script>
{% endblock %}
